/* media query for large laptop */
@media screen and (max-width: 1440px) {
	aside#aside-container {
		@include wh(normal, 100vw, 350px);
	}
}

/* media query for normal laptop */
@media screen and (max-width: 1024px) {
	aside#aside-container {
		@include wh(normal, 100vw, 300px);
		section#aside-section-1 {
			h1 {
				font-size: 2.5rem;
			}
			p {
				font-size: 1.75rem;
			}
		}
		section#aside-section-2 {
			h1 {
				font-size: 2.5rem;
			}
			p {
				font-size: 1.75rem;
			}
		}
		section#aside-section-3 {
			h1 {
				font-size: 2.5rem;
			}
			p {
				font-size: 1.75rem;
			}
		}
	}
}

/* media query for tablet */
@media screen and (max-width: 768px) {
	aside#aside-container {
		@include wh(normal, 100vw, 250px);

		section#aside-section-1 {
			h1 {
				margin: 3rem 0 0 0;
				font-size: 1.85rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
		section#aside-section-2 {
			h1 {
				margin: 3rem 0 0 0;
				font-size: 1.85rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
		section#aside-section-3 {
			h1 {
				margin: 3rem 0 0 0;
				font-size: 1.85rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
	}
}
