/* media query for large laptop */
@media screen and (max-width: 1440px) {
	section#section-dome-container {
		h1#section-dome-h1 {
			font-size: 5.5rem;
		}
		p#section-dome-p {
			font-size: 2.35rem;
		}
	}
}

/* media query for normal laptop */
@media screen and (max-width: 1024px) {
	section#section-dome-container {
		h1#section-dome-h1 {
			font-size: 4.5rem;
			@include gridColRow(col-9,col-13,row-5,row-6);
		}
		p#section-dome-p {
			@include gridColRow(col-9,col-13,row-6,row-12);
			font-size: 2.25rem;
		}
	}
}

/* media query for tablet */
@media screen and (max-width: 768px) {
	section#section-dome-container {
		h1#section-dome-h1 {
			@include gridColRow(col-8,col-13,row-5,row-6);
			font-size: 4rem;
		}
		p#section-dome-p {
			@include gridColRow(col-8,col-13,row-6,row-12);
			font-size: 2rem;
		}
	}
}
