/* media query for large laptop */
@media screen and (max-width: 1440px) {
	section#section-immigration-container {
		h1#section-immi-h1 {
			@include gridColRow(col-2,col-6,row-3,row-4);
			font-size: 6rem;
		}

		h2#section-immi-h2 {
			@include gridColRow(col-2,col-6,row-4,row-5);
			font-size: 5rem;
		}

		ul#section-immi-ul {
			font-size: 3.5rem;
		}
	}
}
/* media query for normal laptop */
@media screen and (max-width: 1024px) {
	section#section-immigration-container {
		h1#section-immi-h1 {
			@include gridColRow(col-9,col-13,row-3,row-4);
			font-size: 5rem;
		}

		h2#section-immi-h2 {
			@include gridColRow(col-9,col-13,row-4,row-5);
			font-size: 4rem;
		}

		ul#section-immi-ul {
			@include gridColRow(col-9,col-13,row-5,row-6);
			font-size: 3rem;
		}
	}
}
/* media query for tablet */
@media screen and (max-width: 768px) {
	section#section-immigration-container {
		h1#section-immi-h1 {
			@include gridColRow(col-8,col-13,row-4,row-5);
			font-size: 4rem;
		}

		h2#section-immi-h2 {
			@include gridColRow(col-8,col-13,row-5,row-6);
			font-size: 3rem;
		}

		ul#section-immi-ul {
			@include gridColRow(col-8,col-13,row-6,row-9);
			font-size: 2.5rem;
		}
	}
}
