/* media query for large laptop */
@media screen and (max-width: 1440px) {
	section#section-onground-container {
		h2#section-onground-h2 {
			font-size: 4rem;
			letter-spacing: 0.25rem;
		}
		p#section-onground-p {
			font-size: 3.5rem;
		}
	}
}

/* media query for normal laptop */
@media screen and (max-width: 1024px) {
	section#section-onground-container {
		h2#section-onground-h2 {
			@include gridColRow(col-2,col-7,row-3,row-4);
			font-size: 3.5rem;
			letter-spacing: 0.1rem;
		}
		p#section-onground-p {
			@include gridColRow(col-2,col-6,row-4,row-7);
			font-size: 3rem;
		}
	}
}

/* media query for tablet */
@media screen and (max-width: 768px) {
	section#section-onground-container {
		h2#section-onground-h2 {
			@include gridColRow(col-2,col-7,row-3,row-4);
			font-size: 3rem;
			letter-spacing: 0.1rem;
		}
		p#section-onground-p {
			@include gridColRow(col-2,col-6,row-4,row-7);
			font-size: 3rem;
			letter-spacing: 0.1rem;
		}
	}
}
