header#header-container {
	@include wh(normal, 100vw, 100vh);
	@include bgimg('../img/header-bg.jpg',
	no-repeat, center, center, cover, fixed);
	@include gridTempColsRows(8);
	position: relative;
	h1#header-h1 {
		@include wh(normal, 100%, 100%);
		@include gridColRow(col-2,col-6,row-2,row-3);
		position: fixed;
		top: 120px;
		left: 300px;
		margin: 0;
		padding: 0;
		color: white;
		font-family: 'exo2-black';
		font-size: 10rem;
		letter-spacing: 2rem;
		text-transform: uppercase;
		transition: all 0.35s ease-in-out;
		span {
			color: #EE2B47;
		}
	}
	p#header-p {
		letter-spacing: 1rem;
		line-height: 1.5;
		margin: 0;
		padding: 1rem;
		position: fixed;
		top: 370px;
		left: 400px;
		color: white;
		font-family: 'exo2-blackitalic';
		font-size: 5.5rem;
		@include gridColRow(col-3,col-6,row-4,row-6);
		transition: all 0.2s ease-in-out;
	}
	p.header-arrow {
		position: absolute;
		margin: 0;
		padding: 0;
		right: -25%;
		bottom: 0;
		color: white;
		font-size: 2rem;
		font-family: 'roboto-medium';
		@include gridColRow(col-4,col-5,row-8,row-9);
		transition: all 0.2s ease-in-out;
	}
}


.header-h1-slide-right {
	opacity: 0;
	transform: translateX(25%);
}

.header-p-slide-right {
	opacity: 0;
	transform: translateX(25%);
}

.header-arrow-fade-out {
	opacity: 0;
	transform: translateY(-50%) scale(1.5);
}

.arrow-animation {
	animation: redArrow 1.5s infinite ease-in-out forwards;
}

@keyframes redArrow {
	0% {
		color: white;
		transform: scale(1.1);
	}
	50% {
		color: #EE2B47;
		transform: scale(1.15);
	}
	100% {
		color: white;
		transform: scale(1.1);
	}
}
