header#header-container {
	width: 100%;
	height: 400px;
	position: relative;
	display: grid;
	grid-template-columns:
	  [header-start] 1fr [header-center] 1fr [header-end];

	#header-left {
		max-width: 450px;
		max-height: 400px;
		grid-column: header-start / header-center;
		padding: 1rem;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #f5f5f5;
		img#header-shoe {
			width: 200px;
			height: 200px;
			position: relative;
		}
		div#header-view-shoe {
			width: 450px;
			height: 400px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../img/header-shoe.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			z-index: 1;
			.closebtn {
				cursor: pointer;
				position: absolute;
				left: 10px;
				font-size: 40px;
				color: #5C636E;
				opacity: 0.15;
				&:hover {
					opacity: 0.75;
				}
			}
		}
		h1 {
			color: #5C636E;
			font-family: 'roboto-black';
		}
		p {
			color: #5C636E;
			text-align: center;
			font-family: 'roboto-medium';
			padding: 10px 0;
		}
		a {
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 2rem;
			border: 2px solid #393E46;
			color: #393E46;
			width: 100px;
			&:hover {
				border: 2px solid #5C636E;
				background: #5C636E;
				color: #fff;
			}
		}
	}

	#header-right {
		background-image: url('../img/header-model.jpg');
		background-position: right center;
		background-size: cover;
		filter: grayscale(40%);
		z-index: 1
	}
}

.slide-in {
	opacity: 0;
	z-index: -1;
	transition: 0.55s ease;
}

.align-bottom.slide-in {
	transform:translateX(100%);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%);
 }
