@font-face {
	font-family: 'roboto-black';
	src: url('../fonts/Roboto-black.ttf');
}

@font-face {
	font-family: 'roboto-medium';
	src: url('../fonts/Roboto-medium.ttf');
}

@font-face {
	font-family: 'exo2-black';
	src: url('../fonts/Exo2-Black.ttf');
}

@font-face {
	font-family: 'exo2-blackitalic';
	src: url('../fonts/Exo2-Blackitalic.ttf');
}
